:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg: #f8f9fa;
  --color-on-bg: #0d1117;
  --color-on-bg-low: #737a85;
  --color-surface: #ffffff;
  --color-surface-low: #f6f8fa;
  --color-primary: #ffc007;
  --color-primary-low: #e0a800;
  --color-primary-high: #ffcd39;
  --color-on-primary: #212529;
  --color-secondary: #6c757d;
  --color-tertiary: #0d6efd;
  --color-like: #dc3545;
  --color-error: #dc3545;
  --color-price-free: #198754;
  --color-outline: #dee2e6;
  --color-outline-variant: #ced4da;
  --color-bg-footer: #0d1117;
  --color-bg-footer-low: #161b22;
  --color-bg-footer-lowest: #21262d;
  --color-on-bg-footer: #8b949e;
  --color-avatar-random-1: #0d6efd;
  --color-avatar-random-2: #198754;
  --color-avatar-random-3: #0dcaf0;
  --color-avatar-random-4: #ffc107;
  --color-avatar-random-5: #6f42c1;

  --size-05: 4px;
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 24px;
  --size-4: 32px;
  --size-5: 40px;
  --size-6: 48px;
  --size-7: 56px;
  --size-8: 64px;
  --size-9: 72px;
  --size-10: 80px;
  --size-11: 88px;
  --size-12: 96px;
  --size-13: 104px;
  --size-14: 112px;
  --size-15: 120px;

  --corner-none: 0px;
  --corner-extra-small: 2px;
  --corner-small: 8px;
  --corner-medium: 12px;
  --corner-large: 16px;
  --corner-extra-large: 24px;
  --corner-full: 9999px;

  --btn-large: 48px;
  --btn-medium: 40px;
  --btn-small: 32px;
  --btn-icon: 40px;
  --btn-large-padding: 24px 16px;
  --btn-medium-padding: 20px 10px;
  --btn-small-padding: 16px 8px;
  --btn-icon-padding: 8px;

  --shadow-level-1: 0 4px 4px rgba(33, 37, 41, 0.05);
  --shadow-level-2: 0 6px 6px rgba(33, 37, 41, 0.1);
  --shadow-level-3: 0 8px 8px rgba(33, 37, 41, 0.15);

  --font-main: 'Roboto', system-ui, sans-serif;
  --font-size-display-large: 56px;
  --font-size-display-medium: 36px;
  --font-size-display-small: 24px;
  --font-size-heading-large: 32px;
  --font-size-heading-medium: 24px;
  --font-size-heading-small: 20px;
  --font-size-body-large: 18px;
  --font-size-body-medium: 16px;
  --font-size-body-small: 14px;
  --font-size-label-extra-large: 16px;
  --font-size-label-large: 14px;
  --font-size-label-medium: 12px;
  --font-size-label-small: 10px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-line-height-display: 1.2;
  --font-line-height-heading: 1.3;
  --font-line-height-body: 1.5;
  --font-line-height-label: 1.1;
  --font-letter-spacing-tight: -0.02em;
  --font-letter-spacing-normal: 0em;
  --font-letter-spacing-wide: 0.03em;
}
